<h2>PA Rails 1</h2>
<p>
  <br>go to /courses for courses</br>
  <br>go to /subjects for subjects</br>
  <br>go to /instructors for instructors</br>
  <br>go to /users for existing users</br>
  <br>go to /login to login if existing user</br>
  <br>go to /signup to sign up new user</br>
  <br>go to /enrollments to view all enrollments</br>
  <br></br>
  <br>- Jacob Smith COSI 166B Spring 2021</br>
</p>