<h2>PA Rails 1</h2>
<p>
  <br>go to /courses for courses</br>
  <br>go to /subjects for subjects</br>
  <br>go to /instructors for instructors</br>
  <br></br>
  <br>- Jacob Smith COSI 166B Spring 2021</br>
</p>